@media print {
    /* All your print styles go here */
    #header {
        page-break-after: always;
    }
    #footer {
        /* break-after: always; */
        page-break-before: always;
    }
    nav {
      display: block;
    }

    #banner {
        position: absolute;
        text-align: center;
        top:0.3em;
        right:0.3em;
        width:70%;
        border: 5px double black;
        /* left:0.5em; */
        /* z-index: 1; */
        display: block;
    }

    img {
        display: none;
    }

    iframe {
        display: none;
    }

    figcaption {
        display: none;
    }

    #link-top {
        display: none;
    }
    .container-iframe {
        display: none;
    }

    #grid-pagina {
        display:block;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        text-align: center;
    }

    .meniu {
        display: block;
        text-decoration: none;
        page-break-after: always;
        height: auto;
        width: auto;
        padding-left: 20px;
        list-style-type: circle;
        border: none;
    }

    .meniu li {
        text-align: left !important;
    }

    .meniu>li>a::before{
        display: inline;
        content: "*";
    }

    .meniu ul>li>a::before{
        list-style-type: circle;
        display: block;
    }

    .meniu ul{
        display: block;
        padding-left: 5px;
        opacity: 1;
        transform: scale(1,1);
    }

    .meniu li{
        border: none;
        overflow: visible;
        width: auto;
        height: auto;
    }

    .meniu ul li a{
        overflow: visible;
        display: block;
    }

    #watermark {
        position: fixed;
        display: block;
        width: 60vw;
        height: 10vh;
        text-align: center;
        text-decoration-color:( black / 50%);
        opacity: 0.3;
        /* bottom: 100px; */
        border: 1px solid black;
        font-size: 30px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    #watermark p{
        text-decoration: none;
    }

    @page:right{
        margin-left:1cm;
        margin-right:2cm;
    }

    @page:left{
        margin-left:2cm;
        margin-right:1cm;
    }
  }

  