body{
    --dim-spatiere: 50px;
    --culoare-fundal: #1a936f;
    --culoare-inchisa: black;
    --culoare-deschisa: #ffd400;
    --culoare-text: #002400;
    --culoare-text-selectat: #f7f0f0;
    --culoare-margini: #ff7518;
    padding: 100px;
    padding-bottom: 20px;
    padding-left: var(--dim-spatiere);
    padding-right: var(--dim-spatiere);
    background-color: var(--culoare-fundal);
    font-family: "Madimi One", sans-serif;
    font-weight: 100;
    font-style: normal;
    --transparent: rgba(0,0,0,0);
}

body.dark {
  --culoare-fundal: black;
}

p{
    background-color: var(--culoare-deschisa);
    padding: 0.2rem 0.5rem;
}

h1{
    border:5px solid var(--culoare-deschisa);
}

.truculenta-uniquifier {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 3px;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

#footer{
  border: 70px;
}



