<footer id="footer">
    <a href="https://shop.scout.ro/" target="_blank">Magazin original</a>
    <i class="fa-solid fa-wand-magic-sparkles"></i><a href="resurse/imagini/Gear.jpeg" download>Descarcati</a>
    <a href="#" tilte="inapoi sus" id="link-top"><div title="Inapoi Sus" id="sageata">&#8593;</div></a>
    
    <address>
        Strada Noua, Nr34<br>
        <i class="fa-solid fa-envelope fa-bounce" style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;"></i><a href="mailto:scout@oncr.ro">Mail Contact</a>
        <a href="tel:+0707070707">Telefon</a>
        <a href="https://wa.me/+07123456687">What's App</a>
        <p><small>Copyright &copy;</small></p>      
    </address>
    <p id="banner">Acesta este un proiect scolar!</p>  
</footer>