<script src = "/resurse/js/tema.js"></script>
<header>
    <h1>Scout Shop</h1>
    <button id="schimba_tema"><i class="fa-solid fa-mountain"></i></button>
    <button id="schimba_tema2"><i class="fa-solid fa-cake-candles"></i></button>
    <button id="schimba_tema3"><i class="fa-solid fa-leaf"></i></button>
</header>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">  
            <li>
                <div id="acasa"><i class="fa-solid fa-house"></i>Acasa</div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#articole noi">Despre noi</a></li>
                    <li><a href="https://www.google.com/">Cont</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </li>
            <li>
                <div id="categorii">Categorii</div>
                <ul>
                    <li><a href="/produse">Produse</a></li>
                    <li><a href="/produse?tip=accesoriu">Accesorii</a></li>
                    <li><a href="/produse?tip=imbracaminte">Imbracaminte</a></li>
                </ul>
            </li>
            <li><a href="/inregistrare">Inregistrare</a></li>
            <li>
                <div id="info">Info</div>
                <ul>
                    <li><a href="https://www.google.com/">Voluntariat</a></li>
                    <li><a href="https://www.google.com/">Alatura-te noua!</a></li>
                    <%- 
                        include("submeniu-administrare.ejs") 
                    %>
                    <%- 
                        include("submeniu-utilizator-logat.ejs") 
                    %>
                </ul>
            </li>
            <li><a href="/cos-virtual">Cos</a></li> 
        </ul>
    </nav>