<header>
    <h1>Scout Shop</h1>
</header>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">  
            <li>
                <div id="acasa"><i class="fa-solid fa-house"></i>Acasa</div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#articole noi">Despre noi</a></li>
                    <li><a href="https://www.google.com/">Cont</a></li>
                </ul>
            </li>
            <li>
                <div id="categorii">Categorii</div>
                <ul>
                    <li><a href="/produse?tip=cofetarie">Produse</a></li>
                    <li><a href="https://www.google.com/">Jocuri</a></li>
                    <li><a href="https://www.google.com/">Imbracaminte</a></li>
                </ul>
            </li>
            <li>
                <div id="info">Info</div>
                <ul>
                    <li><a href="https://www.google.com/">Voluntariat</a></li>
                    <li><a href="https://www.google.com/">Alatura-te noua!</a></li>
                </ul>
            </li>
        </ul>
    </nav>