@charset "UTF-8";
#link-top {
  position: fixed;
  opacity: 0.5;
  bottom: 0.3em;
  left: 0.3em;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px dashed white;
  text-decoration: none;
  color: var(--culoare-deschisa);
  line-height: 2.5rem;
  text-align: center;
  transform: rotateZ(0);
  transition: opacity 0.5s linear, transform 0.5s linear;
  box-shadow: var(--culoare-deschisa);
  background: radial-gradient(white, grey);
}

a[href^=http]:not(.taburi-iframe a)::before {
  content: "⮳";
  font-size: 1.5rem;
}

a[href^=http]:not(.taburi-iframe a):hover::before {
  color: var(--culoare-inchisa);
}

#sageata {
  font-size: 2rem;
  opacity: 0.5;
  transform: rotateZ(0);
  transition: opacity 0.5s linear, transform 0.5s linear;
}

#link-top:hover {
  opacity: 1;
  transform: rotateZ(90deg);
}

#link-top:hover > #sageata {
  opacity: 1;
  transform: rotateZ(-90deg);
}

#tab-orar td {
  border: 1px solid black;
}

#tb-orar th {
  border: 3px solid black;
}

/* #tab-orar thead th:nth-child(odd) {
  background-color: var(--culoare-deschisa);
} */
#tab-orar tr:nth-of-type(odd) {
  box-shadow: var(--culoare-margini) 1px 2px;
}

#tab-orar tr:nth-of-type(even) {
  box-shadow: var(--culoare-deschisa) 1px 2px;
}

#tab-orar tr {
  transition: all 1s linear;
}

#tab-orar tr:hover {
  background-color: var(--culoare-text-selectat);
  font-size: 1.2rem;
}

#tab-orar th {
  border: solid 3px var(--culoare-inchisa);
}

.container-iframe {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
}

.container-iframe iframe {
  width: 100%;
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taburi-iframe > a {
  display: block;
  width: 50px;
  text-align: center;
  border: 4px solid var(--culoare-deschisa);
  background-color: var(--culoare-deschisa);
  /* margin-bottom: 0.4em; */
  padding: 0.6em;
  text-decoration: none;
  border-radius: 0 0 30% 30%;
  /* background: radial-gradient( var(--culoare-margini) 50%, var(--culoare-deschisa)); */
  box-shadow: inset 0px 5px 7px 5px var(--culoare-margini);
  transition: box-shadow 1.5s linear;
  text-shadow: white 2px 0 2px;
  color: var(--culoare-inchisa);
  text-emphasis-color: var(--culoare-inchisa);
}

.taburi-iframe > a:last-child {
  margin-bottom: 0;
}

.taburi-iframe > a:hover {
  /* background: radial-gradient(var(--culoare-margini) 70%, var(--culoare-deschisa)); */
  box-shadow: inset 0px 5px 20px 5px var(--culoare-margini);
  /* background-color: aliceblue; */
}

#banner {
  display: none;
}

#watermark {
  display: none;
}

a {
  color: var(--culoare-margini);
}

main a:visited, footer a:visited {
  color: var(--culoare-text-selectat);
}

main a:active, footer a:active:not(#link-top) {
  border: 0.2rem solid;
  transition: none;
  border-radius: 0;
}

main a, footer a:not(#link-top) {
  background: radial-gradient(var(--culoare-margini) 0%, var(--culoare-margini) 40%, var(--transparent) 80%, var(--transparent) 100%);
  border-radius: 50%;
  background-position: center;
  background-size: 0;
  transition: all 1s linear;
  background-repeat: no-repeat;
}

main a:hover, footer a:hover:not(#link-top) {
  background-size: 100%;
}