.prodfig img {
  width: 50%;
  height: auto;
}

.prods-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.prods-grid p {
  margin: 0.2em;
}
.prods-grid .product {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
}
.prods-grid .product h3 {
  color: var(--culoare-inchisa);
  text-align: center;
  margin-top: 0;
  padding: 0.5rem 0.1rem;
}
.prods-grid .product a {
  color: var(--culoare-deschisa);
}
.prods-grid .product figure {
  text-align: center;
}
.prods-grid .product figure img {
  border: 1px solid black;
}
.prods-grid .product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prods-grid .product .prodinfo {
  display: flex;
  background-color: var(--culoare-inchisa);
  margin-bottom: 0.5rem;
}
.prods-grid .product .prodinfo p {
  width: 30%;
  text-align: center;
  font-weight: bold;
}

.select-cart {
  display: inline-block;
  background-color: var(--culoare-fundal);
  width: 50%;
  margin: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.3rem;
  border: 1px solid transparent;
}
.select-cart:hover {
  background-color: var(--culoare-margini);
  border: 1px solid var(--culoare-inchisa);
}

.input-pair {
  display: block;
  margin-bottom: var(--txtpadding);
  border-radius: 50%;
}

.radio-pair {
  display: inline-block;
  margin-right: 1em;
}

.calcdiv {
  position: fixed;
  text-align: center;
  top: 5rem;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(var(--culoare-fundal), 0.7);
}
.calcdiv p {
  color: var(--culoare-text-selectat);
}
.calcdiv p span {
  color: var(--culoare-margini);
  font-weight: bold;
}

.row {
  margin-bottom: 1.5em;
}

.form-select {
  width: 25%;
  background-color: var(--culoare-text-selectat);
  color: var(--culoare-deschisa);
}

.form-control, #name-inp-label {
  width: 50%;
  line-height: 1em;
}

.inp-round {
  border-radius: 0.5em;
  border: 1px solid transparent;
}

.form-range {
  width: 50%;
  height: 0.75em;
}

textarea {
  line-height: 2em;
  height: 2em;
}

@media screen and (max-width: 820px) {
  .prods-grid {
    display: block;
  }
}